.u-section-1 .u-sheet-1 {
  min-height: 254px;
}

.u-section-1 .u-shape-1 {
  height: 175px;
  margin: 40px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1084px;
  margin: -160px auto 55px 28px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-shape-1 {
    height: 276px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1070px;
}

.u-section-2 .u-tabs-1 {
  min-height: 605px;
  margin-bottom: 60px;
  height: auto;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-form-1 {
  height: 340px;
  margin: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-form-2 {
  height: 340px;
  width: 1140px;
  margin: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-form-3 {
  height: 170px;
  width: 1140px;
  margin: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 5px;
}

.u-section-2 .u-tabs-2 {
  min-height: 375px;
  margin-top: 5px;
  margin-bottom: -16px;
  height: auto;
}

.u-section-2 .u-tab-link-5 {
  background-image: none;
}

.u-section-2 .u-tab-link-6 {
  background-image: none;
}

.u-section-2 .u-tab-link-7 {
  background-image: none;
}

.u-section-2 .u-tab-link-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-form-4 {
  height: 407px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-form-group-11 {
  margin-left: 0;
}

.u-section-2 .u-form-group-12 {
  margin-left: 0;
}

.u-section-2 .u-form-group-13 {
  margin-left: 0;
}

.u-section-2 .u-form-group-14 {
  margin-left: 0;
}

.u-section-2 .u-form-group-15 {
  margin-left: 0;
}

.u-section-2 .u-form-group-16 {
  margin-left: 0;
}

.u-section-2 .u-form-group-17 {
  margin-left: 0;
}

.u-section-2 .u-form-group-18 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-form-5 {
  height: 407px;
  width: 1080px;
  margin: 23px 0 -23px;
}

.u-section-2 .u-form-group-19 {
  margin-left: 0;
}

.u-section-2 .u-form-group-20 {
  margin-left: 0;
}

.u-section-2 .u-form-group-21 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-form-6 {
  height: 407px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-form-group-22 {
  margin-left: 0;
}

.u-section-2 .u-form-group-23 {
  margin-left: 0;
}

.u-section-2 .u-form-group-24 {
  margin-left: 0;
}

.u-section-2 .u-form-group-25 {
  margin-left: 0;
}

.u-section-2 .u-form-group-26 {
  margin-left: 0;
}

.u-section-2 .u-form-group-27 {
  margin-left: 0;
}

.u-section-2 .u-form-group-28 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-form-7 {
  height: 407px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-form-group-29 {
  margin-left: 0;
}

.u-section-2 .u-form-group-30 {
  margin-left: 0;
}

.u-section-2 .u-form-group-31 {
  margin-left: 0;
}

.u-section-2 .u-form-group-32 {
  margin-left: 0;
}

.u-section-2 .u-form-group-33 {
  margin-left: 0;
}

.u-section-2 .u-form-group-34 {
  margin-left: 0;
}

.u-section-2 .u-form-group-35 {
  margin-left: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-2 .u-form-8 {
  height: 407px;
  width: 1080px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 940px;
  }

  .u-section-2 .u-form-2 {
    width: 940px;
  }

  .u-section-2 .u-form-3 {
    width: 940px;
  }

  .u-section-2 .u-form-4 {
    width: 880px;
  }

  .u-section-2 .u-form-5 {
    width: 880px;
  }

  .u-section-2 .u-form-6 {
    width: 880px;
  }

  .u-section-2 .u-form-7 {
    width: 880px;
  }

  .u-section-2 .u-form-8 {
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }

  .u-section-2 .u-form-2 {
    width: 720px;
  }

  .u-section-2 .u-form-3 {
    width: 720px;
  }

  .u-section-2 .u-form-4 {
    width: 660px;
  }

  .u-section-2 .u-form-5 {
    width: 660px;
  }

  .u-section-2 .u-form-6 {
    width: 660px;
  }

  .u-section-2 .u-form-7 {
    width: 660px;
  }

  .u-section-2 .u-form-8 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }

  .u-section-2 .u-form-2 {
    width: 540px;
  }

  .u-section-2 .u-form-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-4 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-5 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-6 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-7 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-8 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-2 {
    width: 340px;
  }

  .u-section-2 .u-form-3 {
    width: 340px;
  }

  .u-section-2 .u-form-4 {
    width: 320px;
  }

  .u-section-2 .u-form-5 {
    width: 320px;
  }

  .u-section-2 .u-form-6 {
    width: 320px;
  }

  .u-section-2 .u-form-7 {
    width: 320px;
  }

  .u-section-2 .u-form-8 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 693px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 21px auto 0;
  padding: 28px 62px 28px 61px;
}

.u-section-3 .u-text-1 {
  margin: 21px auto 60px;
}